.card {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px #dddddd;
    background-color: #ffffff;
}

.cardTitle {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem;
}

.cardPrice {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}